@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

:root{
    --main-color:red;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background: rgb(29, 27, 27);
}


/* .heading{
    text-align: center;
    padding-bottom: 2rem;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
}
.heading span{
    color:var(--main-color);
    text-transform: uppercase;
} */

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color:#fff;
    cursor: pointer;
    font-weight: 600;
}
.btn:hover{
    background:var(--main-color);
}
.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    /* background: #333; */
    background:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:#fff;
    font-size: 2.5rem;
}

.header .logo span{
    color:var(--main-color);
}

.header .navbar a{
    font-size: 1.7rem;
    color:#fff;
    margin-left: 2rem;
    font-weight: bold;
}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-bars{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}
.heading{
    color:white;
    margin-top: 14rem;  
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 100px;
  }
  .heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

 /* About Section */

.section{
  width: 100%;
    min-height: 100vh; 

    position: static;
	background-color:rgb(52, 49, 49);
}
.container{
	width: 80%;
	display: block;

	margin:auto;
	padding-top: 150px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
    border-radius: 10px;
    margin-top: 2.5rem;
}
.content-section .title{
	text-transform: uppercase;
    color: white;
	font-size: 28px;
}
.content-section .title span{
    color:var(--main-color);
    text-transform: uppercase;
}
.content-section .content h3{
	margin-top: 20px;
	color:#fff;
	font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content-section .content p{
	margin-top: 10px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 18px;
    color: #fff;
	line-height: 1.5;
}
#more {display: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
#myBtn {
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color:#fff;
    cursor: pointer;
    font-weight: 600;

}






.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:red;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:greenyellow;
}






/* Our Team */

.team-section{
	background-color:rgb(52, 49, 49);
	min-height: 100vh;
    position: relative;
	padding:70px 15px 30px;
    
}

.team-container{
	max-width: 1170px;
	margin:auto;
    border: rgb(201, 197, 197) solid 2px;
    border-style:inset;
    box-shadow: inset red;
    margin-bottom: 50px;
    padding-top: 60px;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.team-section .section-title{
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 70px;
}
.team-section .section-title span{
    color: blue;
}

.team-section .section-title h1{
	font-size: 60px;
	text-align: center;
	margin:0;
	color: #ffffff;
	font-weight: 700;
}

.team-section .section-title p{
	font-size:16px;
	text-align: center;
	margin:15px 0 0;
	color:#ffffff;
}
.team-section .team-items{
	
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-section .team-items .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.team-section .team-items .item img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.team-section .team-items .item .inner{
	position: relative;
	z-index: 11;
	padding:0 15px;
}
.team-section .team-items .item .inner .info{
	background-color:rgb(37, 34, 34);
	text-align: center;
	padding: 20px 15px;
	border-radius:8px;
	transition: all .5s ease;
	margin-top: -40px;
}
.team-section .team-items .item:hover  .info{
    transform: translateY(-20px);
}
.team-section .team-items .item:hover{
 transform: translateY(-10px);	
}
.team-section .team-items .item .inner .info h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color:#ffffff;
}
.team-section .team-items .item .inner .info p{
	font-size: 16px;
	font-weight: 400;
	color:#c5c5c5;
	margin:10px 0 0;
}

.team-section .team-items .item .inner .info .social-links{
	padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a{
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color: #e3e3eb;
	color:#f60000;
	border-radius: 50%;
	margin:0 2px;
	text-align: center;
	line-height: 32px;
	font-size:16px;
	transition: all .5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover{
	box-shadow: 0 0 30px rgb(21, 254, 0);
}

/*responsive*/
@media(max-width: 991px){
	.team-section .team-items .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
	.team-section .team-items .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}





/* This Is Footer */
.footer{
  background:#111;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap:1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:1rem 0;
  color:#fff;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:1rem 0;
  color:#eee;
}

.footer .box-container .box a i{
  padding-right: .5rem;
  color:var(--main-color);
}

.footer .box-container .box a:hover i{
  padding-right: 1.5rem;
  color:#fff;
}

.footer .credit{
  text-align: center;
  border-top: .1rem solid #222;
  color:#fff;
  padding:2rem;
  padding-top: 2.5rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.footer .credit span{
  color:var(--main-color);
}
