@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

:root{
    --main-color:red;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background: rgb(29, 27, 27);
}

section{
    padding:2rem 9%;
}
/* .heading{
    text-align: center;
    padding-bottom: 2rem;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
}
.heading span{
    color:var(--main-color);
    text-transform: uppercase;
} */

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color:#fff;
    cursor: pointer;
    font-weight: 600;
}
.btn:hover{
    background:var(--main-color);
}
.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    /* background: #333; */
    background:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:#fff;
    font-size: 2.5rem;
}

.header .logo span{
    color:var(--main-color);
}

.header .navbar a{
    font-size: 1.7rem;
    color:#fff;
    margin-left: 2rem;
    font-weight: bold;
}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-bars{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}
.heading{
    color:white;
    margin-top: 14rem;  
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 100px;
  }
  .heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

  .contact{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .contact .image{
    flex:1 1 35rem;
  }
  
  .contact .image img{
    width:75%;
    height: 530px;
    margin-top: -90px;
    
  }
  
  .contact form{
    max-width: 70rem;
    margin:1rem auto;
    text-align: center;
    margin-right: 70px;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 50px;
}

.contact form .inputBox input,
.contact form textarea{
    width: 100%;
    background:#333;
    border-radius: .5rem;
    padding:1rem;
    margin:.7rem 0;
    font-size: 1.5rem;
    color:#fff;
    text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
    color:#eee;
    text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus{
    background:#444;
}

.contact form .inputBox input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}
  
.footer{
  background:#111;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap:1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:1rem 0;
  color:#fff;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:1rem 0;
  color:#eee;
}

.footer .box-container .box a i{
  padding-right: .5rem;
  color:var(--main-color);
}

.footer .box-container .box a:hover i{
  padding-right: 1.5rem;
  color:#fff;
}

.footer .credit{
  text-align: center;
  border-top: .1rem solid #222;
  color:#fff;
  padding:2rem;
  padding-top: 2.5rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.footer .credit span{
  color:var(--main-color);
}
